*{
    margin: 0px;
    padding:0px;
    box-sizing:border-box;
}
body{
    font-family: 'Poppins', sans-serif !important;
    background-color:white;
    
}
header{
    
    display:flex;
    margin:auto;
    width: 90%;
    height:10vh;
    align-items:center;
    
    
}
.card-title{
    font-weight: bold;
}
.logo-container,.nav-links{
    display: flex;
    margin-top: 20px;
}
.logo-container {
    
    
    
    flex:1;
}
nav{
    
    flex:2;
}

.link{
    color:rgb(175, 119, 157)
    
}
.link2{
    color:rgb(83, 70, 79);
    margin-left: 50px;
    font-weight: bold;
    
}
.nav-links{
    justify-content: space-evenly;
    list-style: none;
    margin:20px;
}
.logo{
    font-weight: 500;
    margin:5px;
    color:grey;
}
.link{
    text-decoration: none;
    
    font-weight: 500;
    font-weight:bold;
}
.link:hover{
    color: green;
    text-decoration: underline;
}
.link2:hover{
    color: green;
    text-decoration: underline;
}
.presentation{
    display: flex;
    width:90%;
    margin:auto;
    min-height: 80vh;
    align-items:center;
    animation-name:test;
    animation-duration: 5s;
    animation-timing-function: ease;

}
.points{
    display:flex;
    margin:70px;
}
@media (max-width: 700px ){
    .link2{
        color:rgb(83, 70, 79);
        margin-left: 20px;
        font-weight: bold;
        
    }
    .presentation{
        display: flex;
        flex-direction: column;
        width:90%;
        margin:auto;
        margin-top: 100px;
        min-height: 80vh;
        align-items:center;
        animation-name:test;
        animation-duration: 5s;
        animation-timing-function: ease;
    
    }
    .nav-links{
        display: none;
    }
    .cover{
        display: none;
    }

}




li{
    margin-top: 30px;
}
.companylogo{
    margin-left:70px;
    background-color: red;
    width:40vw;
    height:40vh;
}
.description{
    margin-left:50px;
    background-color: green;
}

.workexp{
    display: flex;
    width:90%;
    margin:auto;
    min-height: 80vh;
    align-items:center;
    animation-name:test;
    animation-duration: 5s;
    animation-timing-function: ease;

}
.card{
    margin-left:50px;
    width:18rem;
}

.projects{
    margin-left: 70px;
    
    display: flex;
    width:90%;
    margin:auto;
    min-height: 80vh;
    align-items:center;
    animation-name:test;
    animation-duration: 5s;
    animation-timing-function: ease;
    
    
    
}
.protitle{
    margin-left:70px;
}
.skillimage{
    width:100px;
    height:100px;
    
    
}
.companyimage{
    width:200px; 
    height:200px; 
    
    margin:50px;
    
}
.contact{
    margin-left:90px;
    margin-top: 50px;
}
@media (max-width: 700px ){
    .points{
        display:flex;
        margin:20px;
    }
    .contact{
        margin-left:30px;
        margin-top: 30px;
    }
    .companyimage{
        display: none;
    }
    .skillimage{
        width:70px;
        height:70px;
        
        
    }
    .workexp{
        display: flex;
        width:90%;
        
        min-height: 80vh;
        align-items:center;
        animation-name:test;
        animation-duration: 5s;
        animation-timing-function: ease;
    
    }
    .protitle{
        margin-left:30px;
        margin-top: 0px;
    }
    .heading{
        color:rgb(175, 119, 157); 
        font-size: 25px;
        
    }
    .projects{
    
        display: flex;
        flex-direction: column;
        width:90%;
        margin-right: 120px;
        
        
        
        
        
    }
    .card{
        margin-left: 50px;
        margin-top: 20px;
        margin-bottom: 40px;
        width: 90%;
    }
    .cta{
        padding: 50px 0px 0px 0px;
        display:flex;
        flex-direction: column;
        
    
        
    }
    
    .cta-select{
        border:2px solid #c36cbb;
        background:transparent;
        color:#c36cbb;
        width:150px;
        height:50px;
        cursor: pointer;
        font-size:16px;
        margin: 20px 0px 0px 0px;
    
    }
    
    .cta-select:hover{
        background-color: gray;
        color:white;
    }
    .cta-add{
        background:#c36cbb;
        width:160px;
        height:50px;
        cursor: pointer;
        font-size:16px;
        border:none;
        color:white;
        margin: 20px 0px 0px 20px;
    
    }

}
.projects2{
    
    
    display: flex;
  flex-direction: row;
    width:90%;
    margin:auto;
    min-height: 80vh;
    align-items:center;
    animation-name:test;
    animation-duration: 5s;
    animation-timing-function: ease;
    
    
    
}
.section2{
    
    width:90%;
    margin:auto;
    min-height: 80vh;
    align-items:center;
    animation-name:test;
    animation-duration: 5s;
    animation-timing-function: ease;
    

}
.btn-primary ,.btn{
    background:#c36cbb;
    color:white;
    border-color: #c36cbb;
}

.cover-img{
    height:100vh;
    filter: drop-shadow(3px 3px 3px black);
    animation-name:drop;
    animation-duration: 2s;
    animation-timing-function: ease;

}
.cover{
    
    flex:1;

}

.skill{
    
    width:100px;
    height:100px;
    
    margin-top: 100px;
    margin-left: 200px;
   
    
}
.abc {
    display: flex;
    justify-content:space-evenly;
    margin: 100px;
}
/* .intro-text h1{
    font-size: 54px;
    font-weight:500;
    
    background:linear-gradient(to right,#494964,#6f6f89);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */


.intro-text p{
    margin-top:5px;
    font-size:22px;
    color:#585772;

}
.intro-text2 p{
    margin-top:2px;
    font-size:22px;
    color:#2f2f3a;

}

.introduction{
    
    flex:1;
}
.cta{
    padding: 50px 0px 0px 0px;
    

    
}

.cta-select{
    border:2px solid #c36cbb;
    background:transparent;
    color:#c36cbb;
    width:150px;
    height:50px;
    cursor: pointer;
    font-size:16px;
    margin: 20px 0px 0px 0px;

}

.cta-select:hover{
    background-color: gray;
    color:white;
}
.cta-add{
    background:#c36cbb;
    width:160px;
    height:50px;
    cursor: pointer;
    font-size:16px;
    border:none;
    color:white;
    margin: 20px 0px 0px 20px;

}
.big-circle{
    height:80%;
    top:0px;
    right:0px;
    opacity:0.5;
    position:absolute;
    z-index: -1;
    
    


}
.iconcss{
    margin:5px;
}
.medium-circle{
    position:absolute;
    top:30%;
    right:30%;
    z-index:-1;
    height:60%;

}
.small-circle{
    position:absolute;
    top:50%;
    left:20%;
    z-index:-1;
    height:40%;

}
.footer{
    background-color: #D6D6D6;
    
    height:35px;
    text-align: center;
    justify-items: center;
    

}
#name {
    color:rgb(163, 57, 75);
  }
#name:after {
    content:"";
    animation: spin 5s ease-in infinite;
  }

@keyframes spin {
    10% { content:"Gokulnath"; }
    
    
    50% { content: "a Student"; }
    
    100% {content:"a Web designer";}
  }














@keyframes drop{
    0%{
        opacity:0;
        /* transform:translatez(-80px); */
        transform: translateY(-80px);
    }
    100%{
        opacity:1;
        /* transform:translateX(0px); */
        transform: translateY(0px);
    }
}